/.streamlit
/.venv
/app.py
/c42faf01-d0b8-43ff-86e7-636e9f292f31
/Categorizador.py
/categorizador2.py
/chroma_db
/chroma_db_BLIP
/Exemplo buscador de imagens.png
/Imagens
/new_model.py
/output.png
/test.py
/test3.py
/teste.png
/test_clip.py